//VARIABLES

// COLORS
$primary-color: #006699; // blue
$secondary-color: #004262; // DK blue
$third-color: #c9d951; // lime green
$fourth-color: #467157; // DK green

$button-color: #fff200;// yellow

// FONTS
$oxygen: 'Oxygen', sans-serif;
$body-font: $oxygen;
$squada: 'Squada One', cursive;
$header-font-family:$squada;